


<span class="p-text-secondary block mb-8">Update your information.</span>

<div class="flex flex-col gap-4">
   <div class="flex flex-col gap-1">
        <label class="kt-form-label font-normal text-mono">
        Nombre del Sorteo
        </label>
        <input class="kt-input" placeholder="Ingrese su usuario" type="text"/>
    </div>
    <div class="flex flex-col gap-1">
        <label class="kt-form-label font-normal text-mono">
        Descripción
        </label>
        <textarea class="kt-textarea" placeholder="Text input" rows="4"></textarea>
    </div>
    <!--<div class="flex flex-col gap-1">
        <label class="kt-form-label font-normal text-mono">
        Slug
        </label>
        <input class="kt-input" placeholder="Ingrese su usuario" type="text"/>
    </div>-->
    <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
            Fecha de Venta Inicio
            </label>
            <p-datepicker size="small" appendTo="body" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
        <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
            Fecha de Venta Fin
            </label>
            <p-datepicker size="small" appendTo="body" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
            Fecha del Sorteo
            </label>
            <p-datepicker size="small" appendTo="body" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
        <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
            Fecha de Extensión del Sorteo
            </label>
            <p-datepicker size="small" appendTo="body" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
    </div>
    <div class="flex flex-col gap-1">
        <label class="kt-form-label font-normal text-mono">
        Precio Rifa
        </label>
        <p-inputnumber size="small" mode="currency" currency="PEN" locale="es-PE" />
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
            Número Inicial
            </label>
            <div class="flex">
                <p-inputnumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1" size="small" [useGrouping]="false">
                    <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                    </ng-template>
                </p-inputnumber>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <label class="kt-form-label font-normal text-mono">
            Número Final
            </label>
            <div class="flex">
                <p-inputnumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" size="small" [useGrouping]="false" class="w-full">
                    <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                    </ng-template>
                </p-inputnumber>
            </div>
        </div>

    </div>
</div>

<div class="flex justify-end gap-2">
    <!--<p-button label="Cancel" severity="secondary" />
    <p-button label="Save"  />-->
</div>