<div class="kt-container-fixed" id="contentContainer"></div>

<div class="kt-container-fluid">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-mono">
                Sorteos
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-secondary-foreground">
                Administración de sorteos
            </div>
        </div>
        <!-- <div class="flex items-center gap-2.5">
            <p-toast />
            <p-confirmpopup />
            <p-button label="Save" [outlined]="true" size="small" />
            <p-button label="Delete" severity="danger" [outlined]="true"  size="small"/>
        </div> -->
    </div>
</div>

<div class="kt-container-fluid">
    <app-tbl-sorteos></app-tbl-sorteos>
</div>